

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #295aa8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .App-container {
    background-color: #ada3a3;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    transition: transform 0.3s ease;
  }
  
  .App-container:hover {
    background-image: url("../src/assets/img/images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
    transform: translateY(-10px);
  }
  
  .registro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .registro h1 {
    color: #FFF;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .registro input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .registro input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  